@{
    ViewBag.Title = "About";
}
<div class="col-md-12">
    <h2 class="text-center">ABOUT THE LEGO GROUP</h2>
    <div>
        <img src="/Content/Images/about.jpg" alt="About Image" class="img-responsive about-img" />
    </div>
    <h3>The LEGO Group is a privately held, family-owned company with headquarters in Billund, Denmark, and main offices in Enfield, USA, London, UK, Shanghai, China, and Singapore. Founded in 1932 by Ole Kirk Kristiansen, and based on the iconic LEGO® brick, it is one of the world's leading manufacturers of play materials.</h3>

    <p>Guided by the company spirit: "Only the best is good enough”, the company is committed to the development of children and aims to inspire and develop the builders of tomorrow through creative play and learning..</p>
</div>