@{
    ViewBag.Title = "Contact";
}
<div class="col-md-12 text-center">
    <h2 class="text-center">Contact the LEGO Group</h2>
    <div>
        <img src="/Content/Images/contact.jpg" alt="Contact Image" class="img-responsive about-img" />
    </div>
    <br />
    <h3 class="text-center">Corporate Headquarters:</h3>
    <address>
        The LEGO Group<br />
        Aastvej 1<br />
        DK-7190 Billund<br />
        Denmark<br />
        <i class="glyphicon glyphicon-earphone"> 555.555.5555</i>
    </address>
</div>