@{
    ViewBag.Title = "Contact";
}
<h2>Contact the LEGO Group</h2>
<img src="/Content/Images/contact.jpg" alt="Contact Image" class="img-responsive" />
<br />
<h3>Corporate Headquarters:</h3>

<address>
    The LEGO Group<br />
    Aastvej 1<br />
    DK-7190 Billund<br />
    Denmark<br />
</address>